@import "tailwindcss";
@import "@fontsource/noto-sans-jp/300.css";
@import "@fontsource/noto-sans-jp/400.css";
@import "@fontsource/noto-sans-jp/500.css";
@import "@fontsource/noto-sans-jp/600.css";
@import "@fontsource/noto-sans-jp/700.css";
@import "@fontsource/noto-sans-jp/800.css";
@import "@fontsource/noto-sans-jp/900.css";

@theme {
  --breakpoint-xs: 580px;
  --breakpoint-2xl: 1280px;
}

@layer base {
  body {
    font-family:
      "Noto Sans JP",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Hiragino Sans",
      "Yu Gothic",
      sans-serif;
  }

  body::selection {
    background-color: white;
    color: #04040c;
  }
}

@layer utilities {
  /* .swiper-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    width: fit-content;
    padding-right: 6rem !important;
  } */
}
